[Unit]
Description="Git mirror of the public repositories"

[Service]
Type=oneshot
User=danil
Group=danil
ExecStart=/home/danil/bin/git-public-mirror
