[Unit]
Description="Git mirror of the private repositories"

[Service]
Type=oneshot
ExecStart=/home/danil/bin/git-private-mirror
User=danil
Group=danil
