[Unit]
Description=GitMir (Git Mirror) Pub Script
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=git
Environment=HOME=/home/git
Environment=PATH=/home/linuxbrew/.linuxbrew/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/danil/bin

ExecStart=/home/danil/bin/gitmir --cron --user=git

StandardOutput=journal
StandardError=journal

TimeoutStartSec=5min
