[Unit]
Description=Run GitMir (Git Mirror) Pvt Script every time interval

[Timer]
OnBootSec=5min
OnUnitActiveSec=3min

Persistent=true

Unit=gitmirpvt.service

[Install]
WantedBy=timers.target
