[Unit]
Description=Run Git Push Mirror Pub Script every minute

[Timer]
OnBootSec=5min
OnUnitActiveSec=3min

Persistent=true

Unit=gitpushmirpub.service

[Install]
WantedBy=timers.target
