[Unit]
Description=Run Git Push Mirror Pvt Script every minute

[Timer]
OnBootSec=5min
OnUnitActiveSec=3min

Persistent=true

Unit=gitpushmirpvt.service

[Install]
WantedBy=timers.target
