[Unit]
Description=Mount unit for telegram-desktop, revision 753
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/telegram-desktop_753.snap
Where=/snap/telegram-desktop/753
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
