[Unit]
Description=Mount unit for gnome-characters, revision 288
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_288.snap
Where=/snap/gnome-characters/288
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
