[Unit]
Description=Mount unit for gtk-common-themes, revision 818
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gtk-common-themes_818.snap
Where=/snap/gtk-common-themes/818
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
