[Unit]
Description=Mount unit for intellij-idea-ultimate, revision 282
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/intellij-idea-ultimate_282.snap
Where=/snap/intellij-idea-ultimate/282
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
