[Unit]
Description=Mount unit for gnome-logs, revision 57
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-logs_57.snap
Where=/snap/gnome-logs/57
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
