[Unit]
Description=Mount unit for gnome-system-monitor, revision 91
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-system-monitor_91.snap
Where=/snap/gnome-system-monitor/91
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
