[Unit]
Description=Mount unit for flameshot, revision 77
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/flameshot_77.snap
Where=/snap/flameshot/77
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
