[Unit]
Description=Mount unit for gnome-system-monitor, revision 87
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-system-monitor_87.snap
Where=/snap/gnome-system-monitor/87
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
