[Unit]
Description=Mount unit for core18, revision 782
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core18_782.snap
Where=/snap/core18/782
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
