[Unit]
Description=Mount unit for gnome-characters, revision 284
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_284.snap
Where=/snap/gnome-characters/284
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
