[Unit]
Description=Mount unit for flameshot, revision 6
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/flameshot_6.snap
Where=/snap/flameshot/6
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
