[Unit]
Description=Mount unit for communitheme, revision 1768
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/communitheme_1768.snap
Where=/snap/communitheme/1768
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
