[Unit]
Description=Mount unit for core, revision 6531
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_6531.snap
Where=/snap/core/6531
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
