[Unit]
Description=Mount unit for core, revision 6130
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_6130.snap
Where=/snap/core/6130
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
