[Unit]
Description=Mount unit for gnome-calculator, revision 352
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-calculator_352.snap
Where=/snap/gnome-calculator/352
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
