[Desktop Entry]
Type=Application
Name=Yandex Browser User Setup
Exec=/opt/yandex/browser/user_setup --start --channel=stable
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
